/*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
.body{
    background: #2B292E;
    color: #fafafa;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
span{
    border-bottom: 1px solid #534f59;
    display: inline-block;
    font-size: 2rem;
    height: 2.4rem;
    line-height: 2.4rem;
    margin: 0.1rem;
    text-align: center;
    text-transform: uppercase;
    width: 2.4rem;
}
p{
    font-weight: 300;
    margin-bottom: .8rem;
}
*/
.header__title {
  font-size: 2.2rem;
  margin-bottom: .4rem;
}
.actions {
  /*background-color: #353239;*/
  background-color: #cebee7;
  /* border-bottom: 1px solid #dedfe0; */
  /* color: #333333; */
  padding: 1rem
}

.actions__container {
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 60rem;
    margin: 0 auto;
    min-height: 3rem;
    padding: 0 1.6rem;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.puzzle{
    display: flex;
    margin-bottom: 4.8rem;
}
 .button{
    background: #7044a0;
    border: none;
    border-bottom: 2px solid #603a88;
    cursor: pointer;
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
    padding: .8rem;
    transition: background .3s ease, color .3s ease;
}
.button:hover {
    background: #5F3A87;
}
.header {
    background: #6F439C;
    color:white;
    padding: 1.6rem 0;
  }
  
.actions__container {
    align-items: center;
    display: flex;
    max-width: 60rem;
    margin: 0 auto;
    min-height: 3rem;
    padding: 0 1.6rem;
}
.menu__container {
  display: flex;
  
  margin: 0 auto;
  min-height: 3rem;
  padding: 0 1.6rem;
}

.actions__container--spaced {
    justify-content: space-between
}


.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 250px;
    top: 0;
    left: 0;
    background-color: #cebee7;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    
    /*color: #818181;*/
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    /*background-color: #111;*/
    background-color: #7044a0;
    color:white;
    padding: 10px 15px;
    border: #7044a0;
  }
  
  .openbtn:hover {
   background-color:#444;
   
  }
  